/**** Streamer mode (redact) ****/
#undiscord.redact .priv {
    display: none !important;
}

#undiscord.redact x:not(:active) {
    color: transparent !important;
    background-color: var(--background-surface-high, var(--primary-700)) !important;
    cursor: default;
    user-select: none;
}

#undiscord.redact x:hover {
    position: relative;
}

#undiscord.redact x:hover::after {
    content: "Redacted information (Streamer mode: ON)";
    position: absolute;
    display: inline-block;
    top: -32px;
    left: -20px;
    padding: 4px;
    width: 150px;
    font-size: 8pt;
    text-align: center;
    white-space: pre-wrap;
    background-color: var(--background-surface-highest, var(--background-floating));
    -webkit-box-shadow: var(--elevation-high);
    box-shadow: var(--elevation-high);
    color: var(--text-default, var(--text-normal));
    border-radius: 5px;
    pointer-events: none;
}

#undiscord.redact [priv] {
    -webkit-text-security: disc !important;
}
